.nav a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  font-family: 'Chelsea Market', cursive; 

}
.nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.circle{
	float: left;
	display:block;
	margin: 10px;
	width:100px;
	height:100px;
	border-radius:50px;
	font-size:20px;
	color:palevioletred;
	line-height:100px;
	text-align:center;
	text-decoration:none;
	background: palevioletred;
}

.circle:hover{
	text-decoration:none;
	background: mediumvioletred;
}

h1 {
	text-align: center;
	font-family: 'Chelsea Market', cursive;
	color: palevioletred;
	font-size: 50px;
}
iframe {
	margin-top: 100px;
	float: left;
}
body {
	background-color: rgb(171,205,239);
}